export(a.hpd)
export(comm.traitgram)
export(ConDivSim)
export(ConDivSimComm)
export(fpcomSims)
export(FPD)
export(FPDglm_ap)
export(FPDglm_grid)
export(mpd.)
export(numnames)
export(rao)
export(traitgram2)
S3method(plot,fpcomSims)
S3method(plot,traitgram)
