S3method(plot,FPDglm_grid)
S3method(plot,fpcomSims)
export(ConDivSim)
export(ConDivSimComm)
export(FPDglm)
export(FPDglm_grid)
export(FPDist)
export(a.hpd)
export(comm.traitgram)
export(fd.est.sim)
export(fd.est.sim.cor)
export(fd.pd.sim)
export(fpcomSims)
export(mpd.)
export(numnames)
export(rao)
import(ape)
import(picante)
