######################################
#
# NAMESPACE FOR multitable
#
######################################

# functions

export(data.list, bm, nvar, varnames, "varnames<-", data.list.mold,
as.data.list, is.data.list, repdim, aperm.data.list, variablize,
read.multitable, read.multicsv, read.multidelim, read.fourthcorner,
multifile.choose, dlcast, dlmelt, dropdl, dropl, within.data.list,
dims_to_vars, variable, variableGroup, dlapply, sdlapply,
variable_margins, read.matrix, simple.scale, is.4th.corner)

# S3 methods

S3method(print, data.list)
S3method(dim, data.list)
S3method("dim<-", data.list)
S3method(dimnames, data.list)
S3method("dimnames<-", data.list)
S3method("[", data.list)
S3method("$<-",data.list)
S3method("[[<-",data.list)
S3method(aperm, factor)
S3method(aperm, data.list)
S3method(t, data.list)
S3method(as.data.frame, data.list)
S3method(as.matrix, data.list)
S3method(as.list, data.list)
S3method(as.data.list, default)
S3method(str, data.list)
S3method(summary, data.list)
S3method(variablize, default)
S3method(variablize, factor)
S3method(variablize, data.list)
S3method(names, data.list)
S3method("names<-", data.list)
S3method(with, data.list)
S3method(within, data.list)
S3method(Ops, data.list)
S3method(merge, data.list)
