######################################
#
# NAMESPACE FOR multitable
#
######################################

# functions

export(data.list, bm, nvar, varnames, "varnames<-", data.list.mold, as.data.list, repdim, aperm.data.list, variablize, read.multitable, dlcast)

# S3 methods

S3method(print, data.list)
S3method(dim, data.list)
S3method("dim<-", data.list)
S3method(dimnames, data.list)
S3method("dimnames<-", data.list)
S3method("[", data.list)
S3method("$<-",data.list)
S3method("[[<-",data.list)
S3method(aperm, factor)
S3method(aperm, data.list)
S3method(t, data.list)
S3method(as.data.frame, data.list)
S3method(as.matrix, data.list)
S3method(as.list, data.list)
S3method(as.data.list, default)
S3method(str, data.list)
S3method(summary, data.list)
S3method(variablize, default)
S3method(variablize, factor)
S3method(variablize, data.list)

#import other packages

import(reshape2)

