export(capply)
export(CVsimpleridgeRDA)
export(merge.formula)
export(Ops.formula)
export(prDataPro)
export(predict.ridgeRDA)
export(print.ridgeRDA)
export(print.Rsqr.sims)
export(rbind_id)
export(rep.Rsqr.sims)
export(ridgeRDA)
export(Rsqr.regpath)
export(Rsqr.sims)
export(simpleridgeRDA)
export(simpleridgeRDAvalid)
export(summary.Rsqr.sims)
export(varpart.regpath)
S3method(autoplot,Rsqr.regpath)
S3method(plot,Rsqr.regpath)
S3method(predict,ridgeRDA)
S3method(print,ridgeRDA)
S3method(print,Rsqr.sims)
S3method(summary,Rsqr.sims)
